@model SalaryCalculator_Common.Models.EmployeeModel
@using SalaryCalculator_Common.Enums
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input type="date" asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TIN" class="control-label"></label>
                <input asp-for="TIN" class="form-control" />
                <span asp-validation-for="TIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="EmployeeTypeId" class="form-control" asp-items="Html.GetEnumSelectList<EmployeeContractType>()">
                    <option selected="selected" value="" class="">Please select</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" asp-controller="Employee" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
